/*---------------------------------------
  product               
-----------------------------------------*/

#SEAFDCORP, #FISHERMEN {
  position: relative;
}

.swiperSecond {
  display: block;
  position: relative;
  width: 100vw;
  height: auto;
  background: #333;
}

.swiperThird {
  display: block;
  position: relative;
  width: 100vw;
  height: auto;
  background: #0e1d5d;
}

.swiperSecond .slick-dots,
.swiperThird .slick-dots {
  bottom: 25px;
  /* position: static; */
}

.solution-top-list {
  padding: 0;
  text-align: center;
}
.solution-banner{
  height: 600px;
  background-color: #0e1d5d;
  overflow: hidden;
}
.solution-card {
  height: 480px;
}
.solution-banner-img {

}
.solution-banner img {
  width: 100%;
}
.harris-banner-img {
  background-image: url('../img/solution/banner.jpg');
  background-size: 100% auto;
  background-position:  top center;
  background-repeat: no-repeat;
}
.atlanet-banner-img {
  /* background-color: #343434; */
  background-image: url('../img/about-mt-en.jpg');
  background-size: 100% auto;
  background-position:  center center;
  background-repeat: no-repeat;
}
.solution-top-box {
  display: inline-flex;
  text-align: center;
  width: 100%;
}
.solution-top-item {
  margin: 0;
  width: 50vw;
  background-color: #fff;
  text-align: center;
  padding: 5px 80px;
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, .075); */
  font-size: 3rem;
  line-height: 6rem;
  cursor: pointer;
}
.solution-top-item:hover {
  background-color: #071242 !important;
  color: #fff !important;
  font-size: 3.5rem;
}
.solution-topbox-img {
  position: relative;
  width: 45%;
  margin-top: -80px;
}
.solution-active {
  background-color: #0e1d5d !important;
  color: #fff !important;
  font-size: 3rem;
  line-height: 6rem;
}
.solution-list-row {
  width: 100%;
  margin: 0 auto;
}
.solution-container {
  width: calc(66% + 20px);
  min-height: 100vh;
  margin: 50px auto 0 auto;
}
.solution-row {
  display: inline-block;
  text-align: center;
  margin: 80px 0 60px 0;
}
.solution-col-4 {
  /* margin: 50px 0; */
  /* padding: 0 20px; */
}
.solution-box-4 {
  /* background-color: #0e1d5d; */
  margin: 0;
  min-height: 280px;
  margin-bottom: 50px;
  /* border-radius: 5px; */
}
.solution-box-blue {
  background-color: #0e1d5d;
}
.solution-box-write {
  background-color: #fff;
}
.solution-box-6 {
  min-height: 280px;
  padding: 50px;
  /* border-radius: 5px; */
}
.solution-info {
  padding: 50px;
  text-align: center;
}
.solution-info1 {
  padding: 50px;
  text-align: left;
}
.solution-box1-title {
  /* height: 15rem; */
  font-size: 4rem;
  line-height: 3rem;
  color: #fff;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, .075);
  overflow: hidden;
}
.solution-box1-desc {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 30px;
  color: #385190;
}
.solution-box-title {
  /* height: 15rem; */
  font-size: 4rem;
  line-height: 3rem;
  color: #333;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
.solution-box-desc {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 30px;
  color: #666;
}
.solution-box-img {
  width: 100%;
  height: auto;
}
.solution-box-2 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.col-mt-6 {
  width: 50%;
  float: left;
}
.title-blue {
  color: #0e1d5d !important;
  border-bottom: 1px solid rgba(0, 0, 0, .075) !important;
}
.desc-blue {
  color: #0f2583 !important;
}
.solution-container-up {
  background-color: #0e1d5d;
  min-height: 66vh;
  margin-top: -15vh;
  padding: 20vh 0 0 0;
}
.row-pad {
  padding: 60px 0;
}
.solution-video {
  width: calc(66% + 20px);
  margin: 0 auto;
  padding: 0;
}

video {
  position: relative !important;
  width: 100% !important;
  /* margin: auto;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  opacity: 1;
  width: 100vw;
  height: auto; */
  /* height: 100vh; */
}
.video {
  width: 100%;
  margin: 60px 0;
}

.solution-md-5p {
  padding: 0 10px !important;
}
.solution-img-12 {
  width: 100%;
  position: relative;
}
.solution-mack {
  position: absolute;
  right: -5vw;
  bottom: 10vh;
  width: 66%;
  /* height: 36vh; */
  /* background: #172978; */
  background-color: #fff;
  /* mix-blend-mode: multiply; */
  z-index: 9;
}
.macker {
  position: relative;
  /* background: rgba(23,41,120,.65); */
  background-color: #fff;
  color: #fff;
  font-size: 1.375rem;
  font-weight: 400;
  transform: translateZ(0);
  padding: 3rem;
}
.Atlanet-container {
  width: calc(66% + 20px);
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 30px;
}
.solution-mack-info {
  position: absolute;
  top: 15vh;
  right: -10vh;
  padding: 5rem;
  background-color: #fff;
  width: 36vw;
}
.solution-banner-atlanet{
  height: 600px;
  margin-top: 0;
  background-color: #0e1d5d;
  overflow: hidden;
}
.solution-mack-title {
  font-size: 5rem;
  color: #0e1d5d;
}
.solution-mack-desc {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 30px;
  color: #1657a7;
}
.solution-banner-info {
  width: 66vw;
  margin: 0 auto;
  margin-top: 400px;
  text-align: left;
}
.solution-banner-title {
  font-size: 5rem;
  color: #fff;
}
.solution-banner-desc {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 10px;
  color: #fff;
}
.solution-pos {
  position: absolute;
}

.mo-text-rePosition {
  float: right;
}

.mo-img-rePosition {
  float: left;
}

.solution-mack-atlanet {
  position: absolute;
  right: -10vw;
  top: 15vh;
  width: 55%;
  padding: 5rem;
  /* height: 36vh; */
  /* background: #172978; */
  background-color: #fff;
  /* mix-blend-mode: multiply; */
  z-index: 9;
}

.swiper-pagination-sc {
  position: absolute;
  width: 80px;
  left: 50%;
  text-align: center;
  -webkit-transition: .3s opacity;
  -o-transition: .3s opacity;
  transition: .3s opacity;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  z-index: 10;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}

.slide-pag {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  bottom: 10%;
  text-align: center;
  -webkit-transition: .3s opacity;
  -o-transition: .3s opacity;
  transition: .3s opacity;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  z-index: 10;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}
.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}

.solution-section {
  width: 1200px;
  margin: 0 auto;
  /* background-color: #d5dde8; */
}

.col-left-box {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5rem;
  background-color: #f8f8f8;
  overflow: hidden;
}

.solution-pro-left {
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 380px;
}
.solution-pro-right {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
}

.pro-bg{
  background-image: url('../img/pro_bg_01.png');
  background-size: 100% 100%;
}
.col-left-title {
  font-size: 3rem;
  color: #222;
}
.col-left-more {
  font-size: 14px;
}

.solution-pro-box {
  margin: 0 5%;
}
.solution-pro-base {
  width: 100%;
  /* height: 55vh; */
}
.tab-pane p.solution-pro-title {
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: 32px;
  line-height: 48px;
  /* for unified height of all the slide @2020/03/28 */
  height: 116px;
}
.tab-pane p.solution-pro-title.smaller {
  font-size: 26px;
}
.solution-pro-desc {
  text-align: left;
  color: #999;
  font-size: 16px;
  /* margin-top: 10px; */
  margin-left: 20px;
}

/* TRICKY: fix anchor navigation hidden by header bar */
/* 80px; fixed header height*/
/* -80px 0 0; negative fixed header height */
#solution .tab-content :target::before {
  content: "";
  display: block;
  height: 80px;
  margin: -80px 0 0;
}
