/*---------------------------------------
  product               
-----------------------------------------*/

#SEAFDCORP, #FISHERMEN {
  position: relative;
}

.swiperSecond {
  display: block;
  position: relative;
  width: 100vw;
  height: auto;
  background: #333;
}

.swiperThird {
  display: block;
  position: relative;
  width: 100vw;
  height: auto;
  background: var(--mt-bg);
}

.swiperSecond .slick-dots,
.swiperThird .slick-dots {
  bottom: 0px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}

.solution-section {
  width: 1200px;
  margin: 0 auto;
  /* background-color: #d5dde8; */
}

.col-left-box {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5rem;
  background-color: #f8f8f8;
  overflow: hidden;
}

.solution-pro-right {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
}

.solution-pro-box {
  margin: 0 5%;
}
.solution-pro-base {
  width: 100%;
  /* height: 55vh; */
}
.tab-pane p.solution-pro-title {
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: 32px;
  line-height: 48px;
  /* for unified height of all the slide @2020/03/28 */
  height: 116px;
}
.tab-pane p.solution-pro-title.smaller {
  font-size: 26px;
}
.solution-pro-desc {
  text-align: left;
  color: #999;
  font-size: 16px;
  /* margin-top: 10px; */
  margin-left: 20px;
}

/* TRICKY: fix anchor navigation hidden by header bar */
/* 80px; fixed header height*/
/* -80px 0 0; negative fixed header height */
#product .tab-content :target::before {
  content: "";
  display: block;
  height: 80px;
  margin: -80px 0 0;
}

#product .tab-content {
  padding-top: 80px;
}
