/* Media Queries
--------------------------------------------- */

/* responsive */
@media(max-width: 1366px) {

}

@media(max-width: 1280px) {

}

@media(max-width: 1024px) {

  .nav > li > a {
    padding: 10px 20px !important;
  }

}

@media(max-width: 1080px) {

}

@media(max-width: 640px) {

}

@media(max-width: 568px) {

}

@media(max-width: 480px) {

}

@media(max-width: 440px) {

}

@media(max-width: 414px) {

}

@media(max-width: 384px) {

}

@media(max-width: 375px) {

}

@media(max-width: 320px) {

}


/* ----------------- min size width -------------------- */
/* ----------------------------------------------------- */

/* large screen */
@media screen and (min-width: 1366px) {

  .swiperImg {
    height: 480px;
  }

  .swiper-box {
    margin-top: 10%;
  }

}

@media (min-width: 600px) and (max-width: 1200px) {

  /* hide logo */
  .container > .navbar-header {
    display: none;
  }

  .navbar-right {
    float: left !important;
  }

}

@media (min-width: 600px) and (max-width: 758px) {

  .solution-pro-right {
    right: auto;
    width: 55%;
    height: auto;
  }

  .for-img {
    width: 59%;
    height: auto;
  }

  .right-column-top {
    margin-top: 20px;
  }

}


/* macbook pro screen */
@media screen and (min-width: 1280px) {
  

}

@media (min-width: 992px){
  .modal-dialog {
    width: 90vw;
    margin: 10vh auto !important;
  }
  .modal-lg {
    width: 90vw;
    height: 90vh;
  }
}

